@font-face {
  font-family: 'douar';
  src: url('./assets/douaroutline-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lack';
  src: url('./assets/lack-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'xolonium';
  src: url('./assets/xolonium-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-graphic: #000;
  --fg-graphic: #FFF;
  --bg-app: #333;
  --fg-app: #EEE;
  --fill-star: #FFB;
  --title-font: xolonium;
}

html,body {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-app);
  color: var(--fg-app);
}

body.theme-retro {
  --bg-app: #4B4839;
  --fg-app: #E4DCB5;
  --bg-graphic: #E4DCB5;
  --fg-graphic: #4B4839;
  --fill-star: var(--fg-graphic);
}
body.theme-inverse {
  --bg-app: #333;
  --fg-app: #E4DCB5;
  --bg-graphic: #4B4839;
  --fg-graphic: #E4DCB5;
  --fill-star: var(--fg-graphic);
}
body.theme-paper {
  --bg-app: #FFF;
  --fg-app: #000;
  --bg-graphic: #FFF;
  --fg-graphic: #000;
  --fill-star: var(--fg-graphic);
}

.title-douar { font-family: 'douar'; }
.title-lack { font-family: 'lack'; }
.title-xolonium { font-family: 'xolonium'; }

svg { background: var(--bg-graphic); }
line { stroke: var(--fg-graphic); }
text.tilted { transform: rotate(-45deg) translate(0, 100%); transform-origin: left top; transform-box: fill-box; }
#axis { stroke-width: 1; }
#label { fill: var(--fg-graphic); text-anchor: end; }
#star { fill: var(--fill-star); }
.object { fill: var(--fg-graphic); text-anchor: middle; font-size: .6em; }
.moon { text-anchor: start; font-size: .7em; }
.object > line { stroke-width: .5; }
.rings { stroke: var(--fg-graphic); fill: none; transform: skew(-45deg); transform-origin: 50%; }

h1 {
  font-family: xolonium;
}
#app > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  font-family: xolonium;
}
#app > header label {
  margin: 0 0 0 1em;
}
.headline {
  display: flex;
  align-items: center;
}

#settings {
  padding: 1em 2em;
}
